	<!DOCTYPE html>
<html>
<head>
	<title>Payroll</title>
	<link rel="icon" type="image/x-icon" href="{{ url_for('static',     filename='/images/favicon_payroll.png') }}">

	<!-- slider stylesheet -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

	<!-- fonts style -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700&display=swap" rel="stylesheet" />

	<!-- bootstrap core css -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',     filename='css/bootstrap.css') }}" />

	<!-- Custom styles for this template -->
	<link href="{{ url_for('static',     filename='css/style.css') }}" rel="stylesheet" />
	<!-- responsive style -->
	<link href="{{ url_for('static',     filename='css/responsive.css') }}" rel="stylesheet" />
<style>
	body{
		background-image: url('background.jpg');
        background-size: auto;
	}
	.payroll form{
		box-shadow: 0 15px 15px rgba(0,0,0,0.1);
		opacity: 1.0; 
	}
</style>

</head>
   <body class="sub_page">
	        <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
		<div class="container-fluid">
		  <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
			<a class="navbar-brand" href="{{ url_for('home') }}">
				<img src="{{ url_for('static',     filename='images/logo.png') }}" alt="" />
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
  
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
				<ul class="navbar-nav  ">
				  <li class="nav-item">
					<a class="nav-link" href="{{ url_for('home') }}">Home<span class="sr-only">(current)</span></a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="{{ url_for('sales') }}">
					  Sales Management
					</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="{{ url_for('attendance') }}">Attendance</a>
				  </li>
				  <li class="nav-item active">
					<a class="nav-link" href="{{ url_for('payroll') }}">Payroll</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="{{ url_for('portfolio') }}">
					  Portfolio
					</a>
				  </li>
				</ul>
			  </div>
			</div>
		  </nav>
		</div>
	  </header>
	  <!-- end header section -->
			</div>
			  <!-- end hero area -->
        <div class="payroll">
		  <center>
			<form action="/payroll" autocomplete="on" method="POST" id="payroll_form" style="height:max-content; width: max-content;font-family: Arial, sans-serif; font-size: 16px; padding: 80px; padding-bottom: 60px; background-color: #f2f2f2; border-radius: 20px;">
				<h2 style="color:black; margin-bottom: 20px;">Payroll</h2>
				<div style="width: 400px">
					<label for="emp_id" style="font-size: 20px; font-weight: bold; margin-bottom: 5px;">Employee ID:</label>
					<p style="width: 250px; margin-top: 8px;line-height: 100%; vertical-align: middle; text-align: start;  display: inline-block; align-items: center; height: 35px; font-size: 20px; border-radius: 5px; border: 1px solid #ccc; padding-left: 3px; padding-top: 10px; background-color: white;">{{ emp_id }}</p>
				</div>
				<div style="margin-left: 60px; margin-bottom: 20px;">
					<label for="emp_date" style="font-size: 20px; font-weight: bold; margin-bottom: 5px;">Month:</label>
					<p style="width: 250px; margin-top: 8px; line-height: 100%; vertical-align: middle; text-align: start;  display: inline-block; align-items: center; height: 35px; font-size: 20px; border-radius: 5px; border: 1px solid #ccc; padding-left: 3px; padding-top: 10px; background-color: white;">{{ cal_month }}</p>
				</div>
				<hr style="border: 0.5px solid #ccc;">
				<div style="display:flex; flex-direction: column; align-items: flex-start;">
					<div style="margin-top:30px;">Total Working Hours for {{ cal_month }}&nbsp;:<span> {{ hours }} </span></div>
					<div style="margin-top:30px; display:block;">Total sales for {{ cal_month }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: RM <span> {{ sales }} </span></div>
					<div style="margin-top:30px; display:block;">Basic Salary&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: RM <span> {{ salary }} </span></div>
					<div style="margin-top:30px; display:block;">Commission&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: RM <span> {{ commission }} </span></div>
					<div style="margin-top:30px; display:block;">The employee total salary&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: RM<span> {{ total_salary }} </span></div>
				</div>
				<br><br><hr style="border: 0.5px solid #ccc; margin-bottom: 30px;"><br><br>

			</form>
		  </center>
		</div>
    </body>
</html>

